/* Add a media query for screen sizes less than 1320px */
@media (min-width: 1024px) and (max-width: 1320px) {
    .hero {
        padding-bottom: 10rem;
    }
    /* Define the keyframes for the animation */
    @keyframes moveImage {
      from {
        top: -180px;
      }
      to {
        top: -106px;
      }
    }
  
    /* Apply the animation to the image container */
    .image-container-headshot {
      animation: moveImage 1s ease-in-out forwards;
    }
  }
@media (min-width: 1321px) {
    @keyframes moveImage {
        from {
           top: -106px;
          
        }
        to {
            top: -180px;
        }
      }
       /* Apply the animation to the image container */
    .image-container-headshot {
        animation: moveImage 1s ease-in-out forwards;
      }
}
  